.my-container{
    margin-top: 100px;
    .my-row{
        .my-title{
            text-align: center;
            font-size: 35px;
        }
        .tabs{
            color: rgb(42, 51, 172);
        }
    }
}