.mo-container{
    
    .mo-row{
       .mo-title{
        text-align: center;
       } 
       .mo-groups{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .mo-group{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin: 5px 0px;
            border-bottom: 1px dotted gray;
            h4{
                font-size: 15px;
                font-weight: 500;
            }
            .mo-link{
                font-size: 13px;
            }
        }
       }
    }
}